#business {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#business .business__row {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}

#business .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#business .content .content__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 800;
    color: black;
    margin-bottom: 30px;
}

#business .content .content__desc {
    font-size: 14px;
    line-height: 24px;
    color: var(--clr-grey);
    margin-bottom: 30px;
}

#business .row__img {
    width: 100%;
    max-height: 350px;
}

@media screen and (min-width: 768px) {
    #business .business__row {
        display: flex;
        flex-direction: row;
    }

    #business .business__row .content,
    #business .business__row .row__img__wrapper {
        width: 50%;
    }

    #business .content {
        align-items: flex-start;
    }

    #business .content .content__title {
        text-align: left;
    }

    #business .business__row:nth-child(even) {
        flex-direction: row-reverse;
    }

    #business .btn.btn--primary {
        width: unset;
    }
}

@media screen and (min-width: 1024px) {
    #business .business__row {
        padding-left: 100px;
    }

    #business .business__row:nth-child(even) {
        padding-right: 100px;
    }
}

@media screen and (min-width: 1124px) {
    #business .business__row {
        padding: 0 100px;
    }

    #business .content {
        width: 40%;
        padding: 0;
        margin: auto;
    }
    #business .row__img__wrapper {
        width: 60%;
    }
}

@media screen and (min-width: 1440px) {
    #business {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    #business .business__row:nth-of-type(1) {
        padding-left: 204px;
    }
    #business .business__row:nth-of-type(2) {
        padding-right: 204px;
    }

    #business .content .content__title{
        font-size: 46px;
        line-height: 60px;
    }
    #business .content .content__desc{
        font-size: 20px;
        line-height: 33px;
    }
}

@media screen and (min-width: 1680px) {
    #business .business__row:nth-of-type(1) {
        padding-left: 404px;
    }
    #business .business__row:nth-of-type(2) {
        padding-right: 404px;
    }
}