#how-it-works .hiw__row {
    display: flex;
    align-items: center;
    column-gap: 110px;
    padding: 0 var(--px-larger);
    margin: 0 auto;
}

#how-it-works .hiw__row:not(:last-child) {
    margin-bottom: 96px;
}

#how-it-works .hiw__row .row__img {
    width: 50%;
    max-width: 550px;
}

.section .text__title {
    color: var(--clr-white);
    margin-bottom: 20px;
}

.section .text__desc {
    color: var(--clr-gray-500);
    font-size: 20px;
    line-height: 32px;
}

