@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('reset.css');

:root {
    --clr-white: #fff;
    --clr-primary: #e24e2a;
    --clr-light-gray: #ececec;
    --clr-gray-bg: #383838;
    --clr-gray-text: #6c6c63;
    --clr-black-text: #555555;
    --clr-header-text: #2c383b;
    --clr-green-bg: #1a9772;
    --clr-green-text: #5bb499;
    --clr-green-link: #9bd4c5;
    --height-header: 120px;
}

body {
    font-family: Helvetica, sans-serif;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER SECTION */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    color: var(--clr-header-text);
    height: var(--height-header);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--clr-white);
}

.header .logo {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
}

.header .logo-title {
    color: inherit;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;

}

.header .logo-divider {
    height: 40px;
    line-height: 1;
    border: solid 1px var(--clr-gray-text);
}

.header .logo-sub {
    letter-spacing: 2px;
    font-size: 18px;
}

.header .nav-list {
    display: flex;
    gap: 2px;
    list-style: none;
}

.header .nav-list .nav-item {
    padding: 1rem;
    background-color: var(--clr-light-gray);
}

.header .nav-list .nav-item.highlighted {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.header .nav-list .nav-link {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}

/* HERO SECTION */

#hero {
    max-height: calc(100vh - var(--height-header));
    /* height: 100vh; */
}

#hero .img-container {
    height: 70%;
    overflow: hidden;
}

#hero .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#hero .hero-text {
    background-color: var(--clr-primary);
    padding: 3rem 7rem;
    color: var(--clr-white);
    letter-spacing: 1.5px;
    text-align: center;

}

/* FEATURES SECTION */
#features .features-list {
    display: flex;
    padding: 6rem 3rem;
    background-color: var(--clr-gray-bg);
    gap: 2rem;
}

#features .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    letter-spacing: 1px;
    color: var(--clr-white);
    text-align: center;
}

#features i {
    color: var(--clr-white);
    font-size: 70px;
    background-color: var(--clr-primary);
    padding: 2rem;
}

#features .feature .feature-divider {
    border: 1px solid var(--clr-gray-text);
    width: 100%;
}

#features .feature-desc {
    color: var(--clr-gray-text);
}

/* CTA SECTION */

#cta {
    text-align: center;
    padding: 3rem 7rem;
}

#cta .cta-title {
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 36px;
}

#cta .cta-sub {
    margin-bottom: 2rem;
    color: var(--clr-gray-text);
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 18px;

}

#cta .cta-btn {
    color: var(--clr-white);
    background-color: var(--clr-green-bg);
    border: none;
    letter-spacing: 1px;
    padding: 1rem 3rem;
}

/* INFO SECTION */

#info .features-list {
    display: flex;
    padding: 6rem 3rem;
    background-color: var(--clr-gray-bg);
    gap: 2rem;
}

#info .feature {
    display: flex;
    flex-direction: column;
    color: var(--clr-white);
    letter-spacing: 1px;
    text-align: center;
    gap: 2rem;
}

#info .feature-desc {
    color: var(--clr-gray-text);
}

/* FOOTER SECTION */

#footer {
    padding: 6rem 3rem;
    display: flex;
    justify-content: center;
    background-color: var(--clr-green-bg);
    letter-spacing: 2px;
    gap:10px;
}

#footer .footer-divider {
    border: 1px solid var(--clr-green-text);
}

#footer .footer-text {
   color: var(--clr-green-text);
}

#footer .footer-link {
    color: var(--clr-green-link);
    text-decoration: none;
 }
