@import url('reset.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
    --clr-white: #fff;
    --clr-primary: #e24e2a;
    --clr-light-gray: #ececec;
    --clr-gray-text: #474747;
    --clr-gray-light-text: #6c6c6c;
    --clr-gray-bg: #383838;
    --clr-green: #1a9772;
    --clr-green-text: #5bb499;
    --clr-green-link: #a2d4c5;
}

body {
    background-color: antiquewhite;
}